@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #020617;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  background: rgba(51, 51, 51, 0.439);
}

h1::selection {
  background: rgba(51, 51, 51, 0.195);
}

span::selection {
  background: rgba(51, 51, 51, 0.195);
}

.name-header {
  font-family: "Permanent Marker", system-ui;
}

/* GlowingText.css */
.glow {
  text-shadow: -3px 0px 4px rgba(255, 255, 255, 0.5); /* Top-left glow */
}

.glow-hover:hover {
  text-shadow: 3px -3px 6px rgba(255, 255, 255, 0.7); /* Stronger glow on hover */
}
.fancy-paragraph {
  position: relative;
  padding-left: 30px;
}

.fancy-paragraph p::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom, #1c1c1c16, #39263f); /* Gradient line */
  border-radius: 4px;
}

